<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/main-template.html}">

<head>
</head>
<title>Board</title>

<th:block layout:fragment="page_head">
    <!-- Page level custom scripts -->
    <script type="text/javascript" th:src="@{/js/page/board/detail.js}"></script>

</th:block>

<body>
<th:block layout:fragment="contents">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab_01">Board</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_02">Add Reply</a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- TAB1 START-->
        <div class="tab-pane fade show active" id="tab_01">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <colgroup>
                                <col width="10%"/>
                                <col width="*"/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>제목</th>
                                <td th:text="${resDto.boardDto.title}"></td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td th:text="${resDto.boardDto.creatorId}"></td>
                            </tr>
                            <tr>
                                <th>태그</th>
                                <td>
                                    <th:block th:each="tagDto : ${resDto.tagDtos}">
                                        <span class="badge badge-info" th:text="${tagDto.tagText}"></span>
                                    </th:block>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td><th:block th:utext="${#strings.replace(resDto.boardDto.boardText,newLineChar,'&lt;br /&gt;')}"></th:block></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <button id="btnUpdate" type="button" class="btn btn-outline-primary">Update</button>
                    <button id="btnRemove" type="button" class="btn btn-outline-danger">Remove</button>
                </div>
            </div>

            <div th:each="replyDto : ${resDto.replyDtos}" class="card mb-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6"><p class="card-text" th:text="${replyDto.replyText}"></p></div>
                        <div class="col-md-6 text-right">
                            <button name="replyRemove" type="button" class="btn btn-outline-danger" th:value="${replyDto.id}"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <p class="card-text">
                        <small class="text-muted" th:text="|writer by ${replyDto.creatorId}|"></small>
                    </p>
                </div>
            </div>

        </div>
        <!-- TAB1 END-->

        <!-- TAB2 START-->
        <div class="tab-pane fade" id="tab_02">
            <form id="tagForm">
                <input type="hidden" id="hdnBoardId" name="boardId" th:value="${resDto.boardDto.id}">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <textarea id="txtReplyText" class="form-control" name="replyText" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="btnSaveTag" type="button" class="btn btn-outline-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- TAB2 END-->
    </div>
</th:block>

</body>
</html>
