spring:
  profiles:
    active: local

---

spring:
  profiles: local
  datasource:
    driverClassName: "org.mariadb.jdbc.Driver"
    url: "jdbc:mariadb://db-instance-1.cs6xhtlya0qu.ap-northeast-2.rds.amazonaws.com:3306/portfolio"
    username: "jypweback"
    password: "jyp!3256"

  jpa:
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache : false

logging:
  file: ./log/local
  level:
    org:
      hibernate:
        type: trace

server:
  tomcat:
    basedir: ./log/local
