spring:

  profiles:
    active: local

---

spring:
  profiles: local
  datasource:
    hikari:
      jdbc-url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      password:
      driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false

logging:
  level:
    org:
      hibernate:
        type: trace
---

spring:
  profiles: product
  datasource:
    hikari:
      jdbc-url: jdbc:mariadb://localhost:3306/portfolio
      username: root
      password: 1234
      driverClassName: org.mariadb.jdbc.Driver

    jpa:
      show-sql: true
      generate-ddl: false
      hibernate:
        ddl-auto: none

    thymeleaf:
      cache: true

logging:
  level:
    org:
      hibernate:
        type: trace



